aniso8601==8.1.0
attrs==20.3.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
extruct==0.12.0
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-PyMongo==2.3.0
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-Testing==0.8.1
html-text==0.5.2
html5lib==1.1
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
jstyleson==0.0.2
language-tags==1.0.0
lxml==4.6.2
MarkupSafe==1.1.1
mf2py==1.1.2
pycparser==2.20
PyJWT==2.0.1
pymongo==3.11.2
pyparsing==2.4.7
pyRdfa3==3.5.3
pyrsistent==0.17.3
pytz==2020.5
rdflib==5.0.0
rdflib-jsonld==0.5.0
recipe-scrapers==12.0.3
requests==2.25.1
six==1.15.0
soupsieve==2.1
tld==0.12.5
urllib3==1.26.2
w3lib==1.22.0
webencodings==0.5.1
Werkzeug==0.16.1
